*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar */
.navbar-container{
  text-align: center;
}

.logo-img{
  width: 5%;
}

.navbar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar-list li {
  padding: 20px;
}

.navbar-list li a{
  text-decoration: none;
}

/* Landing page */
.animation-image-container{
  background: url('./images/moviesbackground.jpeg') center center no-repeat;
  background-size: cover;
  padding: 15% 15%;
}

.text-animation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
}
.typed-text{
  font-size: 3rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
  font-size: 3rem;
  color: #fff;
}

.in-theaters-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 2%;
  text-align: center;
}

.theater-container{
  margin: 1rem;
  border: 1px solid black;
  padding: 8%;
  background-color: black;
}

.theater-container a{
  text-decoration: none;
  color: #cca01b;
}

.theater-container a:hover{
  color: #cca01b;
}

/* Movies.js */
.form-container{
  text-align: center;
}

.search{
  width: 20%;
  padding: 10px;
}

.search-btn{
  background-color: darkcyan;
  border: none;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}

.grid-movie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5%;
}

/* Movies.js */
.movie-container{
  text-align: center;
  width: 70%;
  padding: 5% 2%;
  background-color: white;
  margin: 3rem auto;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.movie-container h3{
  margin: 1rem;
}

.movie-container a{
  text-decoration: none;
  color: #cca01b;
}

/* Movie Details */
.moviedetails{
  padding: 3%;
}

.details-container h5{
  margin: 1rem;
}
.movie-image{
  width: 30%;
}

.details-container{
  margin: auto;
  text-align: center;
}

/* Similar Movies */
.similarmovies-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.similarmovies{
  margin: 1rem;
  border: 1px solid black;
  padding: 3% 5%;
  background-color: black;
  color: white;
}

.similarmovies a{
  text-decoration: none;
  color: #cca01b;
}

.similarmovies a:hover{
  color: #fff;
}
/* Footer */
.footer-container{
  padding: 3%;
  background-color: black;
  text-align: center;
}
.footer-logo{
  width: 3%;
  display: block;
  margin: auto;
}
.footer-icon{
  color: white;
  margin: 20px;
}
.footer-text{
  color: #fff;
}